.App {
  text-align: center;
  background-color: whitesmoke;
}

img {
  max-width: 13%;
  max-height: 13%;
}

button {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 10rem;
  background: transparent;
  color: black;
  border: 2px solid black;
}

.Navbar{
  font-size: larger;
  background-color: burlywood;
}


